
{% extends 'socialaccount/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    Social Network Login Failure | EbooksPortal
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/socialaccount/authentication_error.css' %}">
{% endblock %}

{% block navbar %}
<div class="nav-container bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
            
            <a href="/" class="navbar-brand d-flex align-items-center">
                EbooksPortal
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">
                            <span>
                                <i class="fa fa-home"></i> Home
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/about" class="nav-link">
                            <span>
                                <i class="fa fa-info-circle"></i> About
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/contact" class="nav-link">
                            <span>
                                <i class="fa fa-phone-alt"></i> Contact
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/books/all" class="nav-link">
                            <span>
                                <i class="fa fa-book"></i> Books
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/papers/all" class="nav-link">
                            <span>
                                <i class="fa fa-sticky-note"></i> Papers
                            </span>
                        </a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li class="nav-item active">
                        <a href="/admin" class="nav-link">
                            <span>
                                <i class="fa fa-user-cog"></i> Admin Panel
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a href="/profile" class="nav-link">
                            <span>
                                <i class="fa fa-user"></i> {{ user.username }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/accounts/logout" class="nav-link">
                            <span>
                                <i class="fa fa-sign-out"></i> logout
                            </span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a href="#login" class="nav-link">
                            <span>
                                <i class="fa fa-sign-in-alt"></i> Sign In
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/accounts/signup" class="nav-link">
                            <span>
                                <i class="fa fa-user-plus"></i> Sign Up
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                
            </div>

        </nav>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="box bg-light" id="box">

    <h1 class="text-center">
        Social Network Login Failure
    </h1>

    <p class="lead text-center lead-text">
        An error occurred while attempting to login via your social account.
    </p>
</section>
{% endblock %}


{% block scripts %}
{% endblock %}