
{% extends 'socialaccount/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Sign Up | EbooksPortal
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/socialaccount/signup.css' %}">
{% endblock %}

{% block navbar %}
<div class="nav-container bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
            
            <a href="/" class="navbar-brand d-flex align-items-center">
                EbooksPortal
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">
                            <span>
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/about" class="nav-link">
                            <span>
                                About
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/contact" class="nav-link">
                            <span>
                                Contact
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/books/all" class="nav-link">
                            <span>
                                Books
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/papers/all" class="nav-link">
                            <span>
                                Papers
                            </span>
                        </a>
                    </li>
                    
                    {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li class="nav-item active">
                        <a href="/admin" class="nav-link">
                            <span>
                                Admin Panel
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a href="/profile" class="nav-link">
                            <span>
                                {{ user.username }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/accounts/logout" class="nav-link">
                            <span>
                                logout
                            </span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a href="/accounts/login" class="nav-link">
                            <span>
                                Sign In
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#signup" class="nav-link">
                            <span class="active">
                                Sign Up
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                
            </div>

        </nav>
    </div>
</div>
{% endblock %}


{% block form_errors %}
    {% for i in form.non_field_errors %}
    <div class="container">
            <div class="alert alert-warning" role="alert">
                {{ i }}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
    </div>
    {% endfor %}
{% endblock %}


{% block content %}
<section class="signup bg-light" id="signup">

    <h1 class="text-center">
        Sign Up
    </h1>

    <p class="lead text-center lead-text">
        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %} You are about to use your {{ provider_name }} account to login to {{ site_name }}. As a final step, please complete the following form: {% endblocktrans %}
    </p>

    <div class="container justify-content-center">

        <form name="frm" action="{% url 'socialaccount_signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                
                <label for="id_username">
                    Username
                </label>
                {{ form.username }}
                {% for i in form.username.errors %}
                    <p class="err">
                        {{ i }}
                    </p>
                {% endfor %}
                
                <label for="id_email">
                    Email
                </label>
                {{ form.email }}
                {% for i in form.email.errors %}
                    <p class="err">
                        {{ i }}
                    </p>
                {% endfor %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button type="submit" class="btn btn-dark btn-block">
                    Sign Up
                </button>

            </div>
        </form>

    </div>
</section>
{% endblock %}


{% block scripts %}
    <script src="{% static '/js/account/signup.js' %}"></script>
{% endblock %}