body{
	background-color: #f8f9fa !important;
}
.badge{
	padding: 5px 10px;
}

.pagination .page-item, .pagination .page-item .page-link{
	color: #343a40 !important;
}
.pagination .page-item.active .page-link{
	background: #343a40 !important;
	border-color: #343a40 !important;
	color: #fff !important;
}
.pagination .page-link:focus{
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .25) !important;
}
.offset {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#offset {
	width: auto !important;
	margin-left: 10px;
}