{% extends 'errors/base.html' %}
{% load static %}

{% block title %}
    500 Server Error
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/errors/500.css' %}">

{% if user.is_authenticated %}
    {% if user.user_profile.theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/errors/dark.css' %}">
    {% endif %}
{% endif %}

{% endblock %}

{% block content %}
    <br>
    <h1 class="display-4 text-center">
        500 Server Error
    </h1>
    <br>
{% endblock %}