@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@300&display=swap');


.galada{
	font-family: 'Baloo Tammudu 2', cursive;
	margin-bottom: 20px;
}

.jumbotron{
	margin-bottom: 0;
	background-color: #fff;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.text-muted{
	color: #6c757d !important;
}
.jumbotron .lead{
	font-size: 1.7rem;
	font-weight: 300;
}
p{
	margin-bottom: 1rem;
	margin-top: 0;
}
p .btn{
	font-size: x-large;
}

.badge{
	padding: 5px 10px;
}


.counter{
	background: #fff;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px;
}
.counter .crcl{
	padding: 20px 20px 0px 20px !important;
	width: 250px;
	color: #fff !important;
	margin-left: 20px;
	margin-top: 10px;
}
.counter .crcl div{
	font-size: large;
	text-align: center;
}
.counter .crcl p{
	text-align: center;
	margin-top: 10px;
	font-size: xx-large;
}


.contact{
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 10px;
}
.contact h1{
	font-family: 'Baloo Tammudu 2', cursive;
}
.contact form{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: large;
}
.contact form input, .contact form textarea{
	margin-bottom: 25px;
}


















