body{
	background-color: #f8f9fa !important;
}
.badge{
	padding: 5px 10px;
}

.pagination .page-item, .pagination .page-item .page-link{
	color: #343a40 !important;
}
.pagination .page-item.active .page-link{
	background: #343a40 !important;
	border-color: #343a40 !important;
	color: #fff !important;
}