body{
	background-color: #f8f9fa !important;
}

.msg-container{
	width: 100%;
}
.msg-container .alert{
	margin-bottom: 0 !important;
}

.login{
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 10px;
}
.login h1{
	font-family: 'Baloo Tammudu 2', cursive;
}
.login form{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: large;
}
.login form label{
	margin-top: 15px;
}
button[type="submit"]{
	margin-top: 20px;
}

form a, form a:focus, form a:hover{
	color: #2c3e51;
}
.err{
	font-size: small;
	color: crimson;
}

form a{
	margin-top: 20px;
}