body{
	background-color: #f8f9fa !important;
}

.msg-container{
	width: 100%;
}
.msg-container .alert{
	margin-bottom: 0 !important;
}

.contact{
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 10px;
}
.contact h1{
	font-family: 'Baloo Tammudu 2', cursive;
}
.contact form{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: large;
}
.contact form input, .contact form textarea{
	margin-bottom: 25px;
}