html, body {
    background-color: #393939 !important;
}
main .jumbotron {
    background-color: #393939 !important;
}
main .jumbotron .container h1 {
    color: #fff !important;
}
main .jumbotron .container p {
    color: #aaa !important;
}
.album {
    background-color: #3d3d3d !important;
}
.album h1 {
    color: #fff !important;
}
.card {
    border: 1px solid #697075 !important;
}
.card-body {
    background-color: #404345;
}
.text-muted {
    color: #aaa !important;
}
.text-center {
    color: #ddd !important;
}
.badge-secondary {
    color: #212529 !important;
    background-color: #bbb !important;
}
.btn-outline-secondary {
    color: #bbb !important;
    border-color: #bbb !important;
}
.btn-outline-secondary:hover {
    color: #212529 !important;
    background-color: #bbb !important;
    border-color: #bbb !important;
}
.counter, .contact {
    background-color: #393939 !important;
}
.counter .crcl {
    color: #697075 !important;
}
.counter .bg-dark {
    background-color: #ddd !important;
}
.contact label {
    color: #ddd !important;
}
.form-control {
    color: #fff !important;
    background-color: #495057 !important;
}
.form-control:focus {
    color: #fff !important;
    background-color: #495057 !important;
}
.btn-dark {
    color: #343a40 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    border-color: #fff !important;
}
.btn-dark:hover {
    color: #343a40 !important;
    background-color: #ddd !important;
    border-color: #ddd !important;
    border-color: #ddd !important;
}
::placeholder {
    color: #ddd !important;
}
#footer.bg-light {
    background-color: #3d3d3d!important;
}
#footer .foot, #footer .foot a {
    color: #fff !important;
}